Repository R1DDL30510/G.P: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, mypy, yamllint

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

black:
  name: black
  entry: black
  language: system
  args:
  - --check

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --install-types
  - --non-interactive
  - --config-file=/dev/null
  - --cache-dir=/tmp/mypy_cache

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  args:
  - -d
  - '{extends: default, rules: {line-length: {max: 180}}}'

chore: fix mypy configuration
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  requirements-dev.txt
  scripts/install_dev_dependencies.sh
  scripts/watchdog.sh
  tests/conftest.py
  tests/test_evaluator_proxy.py
  tests/test_router_evaluate_choice.py
Due: ruff, black, mypy, yamllint

Update conftest.py
  tests/conftest.py
Due: ruff, black, mypy

Update pyproject.toml
  pyproject.toml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: yamllint

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yamllint

Update requirements-dev.txt
  requirements-dev.txt
Due: none

Create __init__.py
  evaluator/__init__.py
Due: ruff, black, mypy

ss
  tests/conftest.py
Due: ruff, black, mypy

Add hardware placeholder config generation
  router/router.yaml
  scripts/generate_router_config.py
  start_all.ps1
  start_all.sh
Due: ruff, black, mypy, yamllint

feat: auto configure hardware for Ollama
  start_all.ps1
  start_all.sh
Due: none

Add hardware inventory utility
  start_all.sh
  tools/hardware_inventory.py
Due: ruff, black, mypy

clarify remote env placeholders
  README.md
  config/env.example
  config/remote.env.example
  docs/remote-setup.md
  start_all.sh
Due: none

Add Windows support to hardware inventory
  scripts/__init__.py
  scripts/hardware_inventory.py
  tests/test_hardware_inventory.py
Due: ruff, black, mypy

docs: add full stack overview and annotate dependencies
  README.md
  docs/full-stack-overview.md
  requirements-dev.txt
  requirements.txt
Due: none

docs: record current state snapshot
  README.md
  docs/current-state-snapshot.md
Due: none

modified: router/gar_router.py modified: router/router.yaml Your branch is up to date with 'G.SpotLocalG.Pv001/G.PLocal'.
  router/gar_router.py
  router/router.yaml
Due: ruff, black, mypy, yamllint

docs: add industrial quick-start guide
  README_quickstart.md
Due: none

Add Windows bootstrap script
  bootstrap_all_in_one.ps1
Due: none

feat: add bootstrap for router and evaluator services
  bootstrap_all_in_one.ps1
Due: none

Path conditions:
  ruff: any of: \.py$, but not: ^(backups/|router/logs/)
  black: any of: \.py$, but not: ^(backups/|router/logs/)
  mypy: any of: \.py$ and not (garvis_validate.py) and not (^(backups/|router/logs/))
  yamllint: any of: \.(yaml|yml)$, but not: ^(backups/|router/logs/)
